#sendButton{
    background-color: aquamarine;
    height: 3rem;
    width: 8rem;
}
.container {
    margin-top: 3%;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 440px;

}

legend {
    text-align: center;
    background-color: aquamarine;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
